*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
CLAUDE.md
/app/release.jks
.env
/fastlane/report.xml
/fastlane/release_notes.txt
